h1.device-state-temp {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 75px;
}
.device-state-use_celsius {
    font-size: 34px;
}
.ion-grid-padding {
    padding: 50px;
}
ion-button.device-state-mode-auto {
    font-size: 11px;
    height: 75%;
}
ion-button.device-state-fanspeed-auto {
    font-size: 12px;
}
