<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Aircon</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (clic)="connect()">
        <ion-icon slot="icon-only" [name]="(online ? 'cloud' : 'cloud-offline') + '-outline' " [color]="online ? 'success' : 'danger'"></ion-icon>
      </ion-button>
      <ion-button (click)="addDevice()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-card *ngFor="let device of devices" (click)="showDevice(device)">
      <ion-card-header>
        <ion-card-title>
          <ion-icon 
            [name]="'radio-button-' + (device.status == 'Online' ? 'on' : 'off')"
            [color]="device.status == 'Online' ? 'success' : 'danger'">
          </ion-icon>
          {{ device.name }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="device.state">
        <ion-grid>
          <ion-row>
            <ion-col size="2" class="ion-text-center">
              <ion-text>
                <p>POWER</p>
              </ion-text>
            </ion-col>
            <ion-col size="2" class="ion-text-center">
              <ion-text>
                <p>MODE</p>
              </ion-text>
            </ion-col>
            <ion-col size="2"></ion-col>
            <ion-col size="6" class="ion-text-left">
              <ion-text>
                <p>TEMPERATURE</p>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2" class="ion-text-center" style="margin-top: 5px;">
              <ion-icon size="large" name="power-outline" [color]="device.state.power == 'on' ? 'success' : 'danger' "></ion-icon>
            </ion-col>
            <ion-col size="2" class="ion-text-center" style="margin-top: 5px;">
              <ion-text *ngIf="device.state.mode == 'auto'">
                <p>AUTO</p>
              </ion-text>
              <ion-icon *ngIf="device.state.mode == 'cool'" size="large" name="snow-outline"></ion-icon>
              <ion-icon *ngIf="device.state.mode == 'heat'" size="large" name="sunny-outline"></ion-icon>
              <ion-icon *ngIf="device.state.mode == 'dry'" size="large" name="water-outline"></ion-icon>
              <ion-icon *ngIf="device.state.mode == 'fan_only'" size="large" name="sync-circle-outline"></ion-icon>
            </ion-col>
            <ion-col size="2" class="ion-text-right" style="margin-top: 5px;">
              <ion-icon size="large" name="thermometer-outline"></ion-icon>
            </ion-col>
            <ion-col size="6" class="ion-text-center">
              <ion-text>
                <h1 class="device-state-temp ion-text-left">
                  {{ device.state.power == 'on' ? device.state.temp : '--' }}&nbsp;
                  <span class="device-state-use_celsius">
                    {{ device.state.power == 'on' ? device.state.use_celsius == 'off' ? '°F' : '°C' : '' }}
                  </span>
                </h1>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
